{% extends 'base.html' %}
{% block content %}

<div class="m-4 rounded-sm">
    <h1 class="text-3xl font-bold text-center">Artists</h1>
    <div class="flex justify-center align-middle p-8 m-4 bg-orange-500 rounded-sm hover:bg-orange-900 shadow-2xl">
        {% for artist in artist_list %}
        <div class="flex-1 bg-lime-600 hover:bg-green-900 p-4 m-4 rounded-md shadow-lg">
            <img class="w-24 h-24 object-cover rounded-full" src="{{ artist.image.url }}" alt="{{ artist.name }}">
            <p class="text-xl font-extrabold">Name: {{ artist.name | upper }}</p>
            <p class="text-xl font-extrabold">Birthdate: {{ artist.birth_date }}</p>
            <p class="text-xl font-extrabold">Nationality: {{ artist.nationality }}</p>
            <p class="text-xl font-extrabold"> Genre: {{ artist.genre }}</p>
            <p class="text-xl font-extrabold">Years Worked: {{ artist.biography }}</p>
        </div>
        {% endfor %}    
    </div>
</div>
{% endblock %}