{% extends 'base.html' %}
{% block content %}
<div class="m-4 rounded-sm">
    <h1 class="text-3xl font-bold text-center">Top {{ count }} Songs</h1>
    <div class="flex flex-wrap justify-center align-middle w-full h-auto font-semibold rounded-sm bg-green-500">
        {% for song, score in top_songs %}
            <div class="flex flex-wrap justify-center align-middle flex-col bg-lime-600 hover:bg-green-900 p-4 m-4 rounded-md shadow-lg">
                <strong>{{ song.title }} by {{ song.artist.name }}</strong><br>
                Popularity Score: {{ score }}<br>
                Listeners: {{ song.no_of_listeners }}<br>
                Streams: {{ song.streams }}<br>
                Radio Airplay: {{ song.radio_airplay }}<br>
                Downloads: {{ song.downloads }}<br>
                Social Media Mentions: {{ song.social_media_mentions }}
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}