{% extends 'base.html' %}
{% block content %}
<div class=" p-4 m-4 rounded-sm shadow-md">
    <h1 class="text-center text-2xl font-extrabold">Top 10 Songs</h1>
    <div class="flex justify-center align-middle hover:bg-green-900 rounded-lg">
        <div class="flex justify-center align-middle p-4 m-2">
            {% for song in popular_songs %}
                <div class="flex flex-col justify-center align-middle rounded-lg bg-indigo-400 p-10 m-6 shadow-sm transition ease-in-out delay-150 hover:-translate-x-1 hover:scale-90 duration-300">
                    <p>{{ song.title }}</p><br>
                    <p>By: {{ song.artist.name }}</p><br>
                    <p>Popularity: {{ song.calculate_popularity }} listening per day</p><br>
                </div>
            {% empty %}
                <p>No popular songs available.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}