{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="back_button">
    <a href="{% url 'author_list' %}">Back</a>
</div>
<div class="author_container">
    <div class="author_card">
        <div class="author_card_image">
            {% if author.image %}
                <img src="{{ author.image.url }}" alt="{{ author.name }}">
            {% endif %}
        </div>
        <div class="author_card_info">
            <p>Name: {{ author.name |upper}}</p>
            <p>Nationlity: {{ author.nationality |upper }}</p>
            <p id="bio_author">Bio: {{ author.biography }}</p>
            <p>Birth Date: {{ author.birth_date }}</p>
            <p>Death: {{ author.death_date }}</p>
            <p>Books written: {{ books.all|length }} books...</p>
            <p>
                {% for book in books %}
                    <p>Book: {{ book.title }} -Published: {{ book.publication_date }}<a href="{% url 'book_detail' book.id %}" class="view_button">&#128065;</a></p>
                {% empty %}
                    <p>No books found for this author.</p>
                {% endfor %}
            </p>
        </div>
        <div class="author_card_detail">
            <a href="{{ author.website }}" target="_blank">more detail</a>
        </div>
    </div>
</div>
    
{% endblock %}