{% extends 'base.html' %}
{% block content %}

{% for author in authors %}
<div class="card">
    <div class="card_image">
        {% if author.image %}
            <img src="{{ author.image.url }}" alt="Author Image">
        {% endif %}
    </div>
    <div class="card_info">
        <div class="author_name">
            <h2>{{ author.name }}</h2>
        </div>
        <div class="author_bio">
            <p id="bio_author">{{ author.biography | truncatewords:"100" }}</p>
        </div>
    </div>
    <div class="card_detail">
        <a href="{% url 'author_detail' author.id %}">View Details</a>
    </div>
</div>
{% endfor %}
{% endblock %}