
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="back_button">
    <a href="{% url 'author_list' %}">Back</a>
</div>
<div class="book-details">
    <h2 style="color: black;">{{ book.title|title }}</h2>
    <p class="author">Author:{{ book.author }}</p>    
    <p class="publication-date">Publication Date: {{ book.publication_date }}</p>
    {% if book.cover_image %}
        <img src="{{ book.cover_image.url }}" class="book-cover" alt="Book cover">
    {% endif %}
    <p class="detail_author_btn">Author:<a href="{% url 'author_detail' author.id %}">{{ book.author }}</a></p>
</div>
{% endblock %}
