{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="title">Book Collection</h1>
    <div class="book">
        {% for book in books %}
        <div class="card">
            {% if book.cover_image %}
            <img src="{{ book.cover_image.url }}" class="card-img-top" alt="Book cover">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <p class="card-text">Author: {{ book.author }}</p>
                <a href="{% url 'book_detail' book.id %}" class="btn">View Details</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
