
<footer class="bg-gray-800 p-2">
    <div class="container mx-auto text-center">
        <h4 class="text-2xl font-semibold">Unstoppable Music Platform</h4>
        <p class="text-lg">
            Your favorite music, all in one place. Discover and enjoy new hits!
        </p>
        <div class="mb-2">
            <a href="#" class="text-white hover:text-indigo-900 mx-4">Facebook</a>
            <a href="#" class="text-white hover:text-green-800 mx-4">Twitter</a>
            <a href="#" class="text-white hover:text-orange-600 mx-4">Instagram</a>
            <a href="#" class="text-white hover:text-gray-900 mx-4">YouTube</a>
        </div>
        <p class="text-sm">
            &copy; 2022 Unstoppable Music. All rights reserved.
        </p>
    </div>
</footer>