.scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #6366f1 #1f2937;
}

.scrollbar-thin::-webkit-scrollbar {
    height: 8px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #6366f1;
    border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-track {
    background-color: #1f2937;
}

.bg-animated-gradient {
  background: linear-gradient(270deg, #ff5f6d, #ffc371, #24c6dc, #662d8c);
  background-size: 800% 800%;
  animation: gradientShift 20s ease infinite;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}