@media (min-width: 400px) {
    .login {
        margin-top: 50px;
        margin-left: 5rem;
        width: 75%;
    }
}

@media (min-width: 400px) {
    .btn_login {
        margin-left: 7rem;
        width: 56%;
    }
}

@media (min-width: 640px) {
    .login {
        margin-top: 50px;
        margin-left: 6rem;
        width: 75%;
    }
}

@media (min-width: 768px) {
    .login {
        margin-top: 50px;
        margin-left: 8rem;
        width: 50%;
    }
}


@media (min-width: 1024px) {
    .login {
        margin-top: 50px;
        margin-left: 10rem;
        width: 50%;
    }
}

@media (min-width: 1280px) {
    .login {
        margin-top: 50px;
        margin-left: 18rem;
        width: 50%;

    }
}

/* register */

@media (min-width: 400px) {
    .register {
        padding-left: 4px;
        padding-right: 16px;
        margin-top: 25px;
        margin-left: 6.5rem;
        width: 55%
    }
}

@media (min-width: 400px) {
    .btn_register {
        margin-left: 15px;
        width: 60%;
    }
}

@media (min-width: 640px) {
    .register {
        margin-top: 50px;
        margin-left: 10rem;
        width: 50%;;
    }
}

@media (min-width: 768px) {
    .register {
        margin-top: 14px;
        margin-left: 21rem;
        width: 34%;
    }
}


@media (min-width: 1024px) {
    .register {
        margin-top: 50px;
        margin-left: 18rem;
        width: 50%;
    }
}

@media (min-width: 1280px) {
    .register {
        margin-top: 50px;
        margin-left: 22rem;
        width: 40%;
    }
}


/* profile */
@media (min-width: 400px) {
    .profile {
        padding-left: 4px;
        padding-right: 16px;
        margin-top: 25px;
        margin-left: 6.5rem;
        width: 55%;

    }
}


@media (min-width: 640px) {
    .profile {
        margin-top: 50px;
        margin-left: 10rem;
        width: 50%;
    }
}

@media (min-width: 768px) {
    .profile {
        margin-top: 14px;
        margin-left: 21rem;
        width: 34%;
    }
}


@media (min-width: 1024px) {
    .profile {
        margin-top: 50px;
        margin-left: 18rem;
        width: 50%;
    }
}

@media (min-width: 1280px) {
    .profile {
        margin-top: 50px;
        margin-left: 22rem;
        width: 40%;
    }
}
/* songs media css */
@media (min-width:300px) {
    .songs{
        width: 44%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (min-width:400px) {
    .songs{
        width: 30%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (min-width:640px) {
    .songs{
        width:31%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (min-width:768px) {
    .songs{
        width: 23%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media (min-width:1024px) {
    .songs{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* Play song css */

@media (min-width:300px) {
    .songs_play{
        width: 44%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (min-width:400px) {
    .songs_play{
        width: 30%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (min-width:640px) {
    .songs_play{
        width:31%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (min-width:768px) {
    .songs_play{
        width: 23%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media (min-width:1024px) {
    .songs_play{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}